In [1]:
s="ALLA"
n=56
l=[3,4,56,77,"ALLA",56.22, 6+7j, [2,4,5,6]]
t=(4,3,5,4,23)
d={"y":"mostaphga", 6:"alla", "n":{"name": "ALLA","mail":"alaamustapha55@gmail.com"}}

In [2]:
s[0]

'A'

In [3]:
s[-1]

'A'

In [4]:
t[0]

4

In [5]:

t[-1]

23

In [6]:
d["y"]

'mostaphga'

In [7]:
d["y"][0]

'm'

In [8]:
d['n']

{'name': 'ALLA', 'mail': 'alaamustapha55@gmail.com'}

In [9]:
d['n']['name']

'ALLA'

In [10]:
for i in d['n']['name']:
    print(i)

A
L
L
A

In [11]:
s[0:100]

'ALLA'

In [12]:
for i in s:
    print(i)

A
L
L
A

In [13]:
for i in n:
    print(n)

TypeError: 'int' object is not iterable

In [ ]:
type(n)

In [14]:
iter(s)

In [15]:
iter(n)

TypeError: 'int' object is not iterable

In [16]:

iter(l)

In [17]:
next(s)

TypeError: 'str' object is not an iterator

In [18]:
l =[1,2,3,4,5]
next(l)

TypeError: 'list' object is not an iterator

In [19]:
iter(s)

In [20]:
m = iter(s)

In [21]:
next(m)

'A'

In [22]:
next(m)

'L'

In [23]:
next(m)

'L'

In [24]:
next(m)

'A'

In [25]:

next(m)

StopIteration:

In [26]:
#too simply for loop is trying to apply iter and next function as mentioned in the previous examples
#once my data is iterable I'll be able to iterate

In [27]:
for i in s:
    print(i)

A
L
L
A

In [28]:
l = [2,3,5,4,6]

In [29]:
next(l)

TypeError: 'list' object is not an iterator

In [30]:
l1 = iter(l)

In [31]:
next(l1)

2

In [32]:
iter(d)

In [33]:
d

{'y': 'mostaphga',
 6: 'alla',
 'n': {'name': 'ALLA', 'mail': 'alaamustapha55@gmail.com'}}

In [34]:
d1 = iter(d)

In [35]:
next(d1)

'y'

In [36]:
next(d1)

6

In [37]:
next(d1)

'n'

In [38]:
next(d1)

StopIteration:

In [39]:
d

{'y': 'mostaphga',
 6: 'alla',
 'n': {'name': 'ALLA', 'mail': 'alaamustapha55@gmail.com'}}

In [40]:
for i in d.keys():
    print(type(i))

<class 'str'>
<class 'int'>
<class 'str'>

In [41]:
for i in d.keys():
    print(i)

y
6
n

In [42]:
d

{'y': 'mostaphga',
 6: 'alla',
 'n': {'name': 'ALLA', 'mail': 'alaamustapha55@gmail.com'}}

In [43]:
for i in d.keys():
    print(d[i])

mostaphga
alla
{'name': 'ALLA', 'mail': 'alaamustapha55@gmail.com'}

In [44]:
for i in d.keys():
    if type(d[i])==dict:
        for j in d[i].keys():
            print(d[i][j])

ALLA
alaamustapha55@gmail.com

In [45]:
for i in d.items():
    print(i)

('y', 'mostaphga')
(6, 'alla')
('n', {'name': 'ALLA', 'mail': 'alaamustapha55@gmail.com'})

In [46]:
for i in d.items():
    print(type(i))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [47]:
for i in d.items():
    print(i)

('y', 'mostaphga')
(6, 'alla')
('n', {'name': 'ALLA', 'mail': 'alaamustapha55@gmail.com'})

In [48]:
for i in d.keys():
    if type(d[i])==dict:
        for j in d[i].items():
            print(j)

('name', 'ALLA')
('mail', 'alaamustapha55@gmail.com')

In [49]:
d = {"key1":"alla", "key1" : [5,65,6,7,2,4]}

In [50]:
d
#it will give the updated one

{'key1': [5, 65, 6, 7, 2, 4]}

In [51]:
d['key2'] =(5,6,7,8,9)

In [52]:
d

{'key1': [5, 65, 6, 7, 2, 4], 'key2': (5, 6, 7, 8, 9)}

In [53]:
d['key1'] = "ALLA"

In [54]:
d

{'key1': 'ALLA', 'key2': (5, 6, 7, 8, 9)}

In [55]:
t = (5, 6, 7, 8, 9)

In [56]:
t[-1]

9

In [57]:
t[0] = 56

TypeError: 'tuple' object does not support item assignment

In [58]:
l2 = list(t)

In [59]:
l2[0] = 56

In [60]:
l3 = tuple(l2)

In [61]:
l3

(56, 6, 7, 8, 9)

In [62]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
iter(range(10))
#range10 is iterable and I can convert it to iterable

In [64]:
r = iter(range(10))

In [65]:
next(r)

0

In [66]:
next(r)
#this is how for loop works internally

1

In [67]:
for i in range(10):
    print(i**2)

0
1
4
9
16
25
36
49
64
81

In [68]:
def fib(n):
    a=0
    b=1
    if n==1:
        print(a)
    else:
        print(a)
        print(b)
        for i in range(2,n):
            c= a+b
            a=b
            b=c
            print(c)

In [69]:
fib(6)

0
1
1
2
3
5

In [70]:
fib(4)

0
1
1
2

In [4]:
def squ(n):
    for i in range(n):
        yield i**2

In [5]:
squ(5)

In [6]:
for i in squ(5):
    print(i)

0
1
4
9
16

In [7]:
next(squ(5))

0

In [8]:
next(squ(5))

0

In [9]:
l1 = iter(squ(5))

In [10]:
next(l1)

0

In [12]:
next(l1)

1

In [13]:
next(l1)

4

In [15]:
#yeild will help us to create a generator like function:

In [16]:
#function which will take a default arguments
#some data values as a default value;

In [17]:
def sum(a=10, b=20):
    print(a,b)

In [18]:
sum()

10 20

In [19]:
sum() + 60

10 20

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [20]:
type(sum())
#print it will always give None type so I can not perform this addition operation

10 20

NoneType

In [21]:
def sum(a=10,b=20):
    return a

In [22]:
sum() +60

70

In [23]:
def sum(a=10,b=20):
    return a,b

In [25]:
sum() +20

TypeError: can only concatenate tuple (not "int") to tuple

In [26]:
sum()

(10, 20)

In [28]:
def sum(a=10, b= [20,10,44,7]):
    return a, b

In [29]:
sum()

(10, [20, 10, 44, 7])

In [30]:
m, n = sum()

In [31]:
m

10

In [32]:
n

[20, 10, 44, 7]

In [33]:
m, _ = sum()

In [34]:
_
#underscore is behaving as  plpace holder

[20, 10, 44, 7]

In [35]:
_, _ = sum()

In [36]:
_
#so it will be printing the last one, like it updates it

[20, 10, 44, 7]

In [37]:
#so what happens if we pass an arguments in which we don't know how much they are

In [38]:
def test(a,b,c,d,g,h):
    return a

In [39]:
def test(*args):
    return args

In [40]:
test(3,45,6,7)
#this time we can say that we can pass any numbers of arguments using *args

(3, 45, 6, 7)

In [41]:
def test(*t):
    return t

In [42]:
def test(*alla):
    return alla

In [43]:
test(1,56,88,11)

(1, 56, 88, 11)

In [46]:
def tes1(**kwargs):
    return kwargs
#we should pass the arguments as a key value pairs

In [48]:
tes1(a=34, b=4, alla= 5, kumar=6)

{'a': 34, 'b': 4, 'alla': 5, 'kumar': 6}

In [49]:
def test1(**alla):
    return alla.keys()

In [50]:
test1(a=34, b=4, alla= 5, kumar=6)

dict_keys(['a', 'b', 'alla', 'kumar'])

In [51]:
def test1(**alla):
    return alla.values()

In [52]:
test1(a=34, b=4, alla= 5, kumar=6)

dict_values([34, 4, 5, 6])

In [53]:
def test (a,b):
    return a+b

In [55]:
test(34,56)

90

In [ ]:
#lambda function it's like an annonnymous fuinction in which you can create a function without a name

In [56]:
l = lambda a, b : a+b
#one line function or anonymous function

In [57]:
l(34,56)

90

In [ ]:
range
#shift and tabe gives us the posisiblity of knowing a details about the function

In [59]:
def test(a,b):
    """this my function to add two variablesssssssssssssss"""
    return a + b

In [61]:
help(test)

Help on function test in module __main__:

test(a, b)
    this my function to add two variablesssssssssssssss

In [2]:
l = [1,2,3,4,65,]
l1 = []
for i in l:
    l1.append(i+2)

In [3]:
l1

[3, 4, 5, 6, 67]

In [4]:
#list comprehension
l1 =[i+2 for i in l]
l1

[3, 4, 5, 6, 67]

In [5]:
dd ={i:i*2 for i in l}
dd

{1: 2, 2: 4, 3: 6, 4: 8, 65: 130}

In [6]:
dd ={i:i**2 for i in l}
dd

{1: 1, 2: 4, 3: 9, 4: 16, 65: 4225}